<!-- rendered when visiting /talks. Initialize Backbone ink. dependencies, models, collections, routers and views -->
<h1>Talks</h1>

<div id="talks"></div>

<script type="text/json" id="bootstrap">
    {
    "talks" : <%= @talks.to_json %>
    }
</script>

<div id="tableDiv" class="container">
    <h3>Talks table to be popultated here: </h3>
    <%= content_for :javascript do -%>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript">
        $(document).ready(function () {
            $(function () {
                var div = document.getElementById("tableDiv");//$('<div></div>');
                alert(div);
                div.html($('#bootstrap').text());
                var data = JSON.parse(div.text());
                Ps13App.initialize(data);
            });
        });
    </script>
    <% end %>
    <h3>... end of talks table</h3>
</div>

<div class="container">
    <form class="form-register" action="/registered" id="register-form">
        <h2>Register here!</h2>
        <input type="text" id="name" class="input-block-level" placeholder="Name"><br>
        <input type="text" id="email" class="input-block-level" placeholder="e-mail"><br>
        <input type="text" id="company" class="input-block-level" placeholder="Company"><br>
        <button class="btn btn-primary" id="register">Sign up</button>
    </form>
</div>
