<!-- rendered when visiting /talks. Initialize Backbone ink. dependencies, models, collections, routers and views -->
<div class="jumbotron">
    <h1>Talks</h1>
</div>

<script type="text/json" id="bootstrap">
    {
        "talks" : <%= @talks.to_json %>
    }
</script>

<%= content_for :javascript do -%>
    <script type = "text/javascript">
        $(function () {
            var div = $('<div></div>');
            div.html($('#bootstrap').text()); //bootstrap from the Rails view into the Backbone app to provide initial state
            var data = JSON.parse(div.text());

            Ps13App.initialize(data);
        })
    </script>
<% end %>

<form class="form-register" action="/login" id="login-form">
    <input type="text" id="name" class="input-block-level" placeholder="Name"><br>
    <input type="text" id="email" class="input-block-level" placeholder="e-mail"><br>
    <input type="text" id="company" class="input-block-level" placeholder="Company"><br>
    <button class="btn btn-primary" id="register">Register</button>
</form>